.form_checkout {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 2rem;
}

.swiper_checkout {
    width: 60%;
    height: 100%;
}

.form-input {
    width: 20vw;

}

.form_checkout input {
    border: 1px solid black;
    background-color: #6f6f6f0d;
    width: 100%;

}


.form_checkout input:focus {
    background-color: transparent;
}

.form_checkout input:disabled {
    background-color: rgba(128, 128, 128, 0.267);
}


@media screen and (max-width: 1000px) {
    .form_checkout {
        flex-direction: column-reverse;
    }

    .form-input {
        width: 60vw;
        margin-top: 100px;
    }

    .swiper_checkout {
        width: 100%;

    }
}

@media screen and (min-width: 1000px) {
    .form_checkout input {

        height: 30px;
        font-size: 14px;
    }

}