.checkout-container {
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.form_checkout {
    width: 100%;
    padding: 2rem 2rem;
}

.form_checkout_child {
    flex: 2;
    width: 100%;
}

/* 
.swiper_checkout {
    width: 50%;
    height: 100%;
} */

.form-input {
    width: 100%;
}

.form_checkout input {
    border: 1px solid black;
    background-color: #6f6f6f0d;
    width: 100%;
    height: 35px;
    font-size: 16px;
    /* border-radius: 10px; */
}

.input-flex-container {
    display: flex;
    width: 100%;
}

.input-flex {
    margin-right: 10px;
    flex: 1;
    width: 100%;
    /* add additional styling as needed */
}

.form_checkout input:focus {
    background-color: transparent;
}

.form_checkout input:disabled {
    background-color: rgba(128, 128, 128, 0.267);
}

.order-btn {
    width: 99% !important;
    padding: 10px 15px;
    font-weight: bold;
}

.congo-div {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.congo-div img {
    width: 300px;
}

.congo-div h2 {
    font-size: 1.25em;
}

.congo-text {
    font-size: 1.5em;
}

.congo-sub {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 677px) {
    .input-flex-container {
        display: block;
    }

    .form_checkout {
        padding: 0 0 4rem 0;
    }

    .congo-text {
        font-size: 1.25em;
    }

    .congo-div h2 {
        font-size: 1.15em;
    }
}

@media screen and (min-width: 678px) {

    .form_checkout input {
        height: 40px;
        font-size: 18px;
    }

}