.header_container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 3rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999 !important;
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 4.5rem;
    height: 4.5rem;
    margin: 2rem 1rem 2rem 0;
    border-radius: 50%;
    transition: 0.2s;
}


.logo img {
    height: 100%;
    width: 100%;
}

.brand_name {
    /* font-family: moret, serif; */
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2ex;
    transition: all .2s;
}

.logo_container:hover {
    cursor: pointer;
}

.logo_container:hover .logo {
    scale: 1.1;
}

.logo_container:hover .brand_name {
    letter-spacing: 0.3ex;
}

.cart_container {
    border: none !important;
    border-radius: 0 0 0 10px;
    background-color: rgb(240, 235, 228) !important;
    width: 30vw !important;
    height: 85vh;
}

.offcanvas-body::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

.offcanvas-body::-webkit-scrollbar-track {
    background-color: transparent;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: var(--color-gallery-link-bg-hover);
    border-radius: 15px;
}

.cart {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem 1rem 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: moret, serif; */
    font-size: 2rem;
    font-weight: 500;
    transition: all .2s;
    z-index: 999 !important;
}

.cart_icon {
    width: 50px;
    height: 50px;
    background-color: var(--color-gallery-link-bg);
    /* background-color: black; */
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 10px;
    transition: all 0.2s;
}

.cart_icon img {
    margin-bottom: 10px;
    transition: .1s;
}

.cart:hover {
    cursor: pointer;
}

.cart:hover .cart_icon {
    background-color: var(--color-gallery-link-bg-hover);
}


.cart:hover .cart_icon img {
    transform: scale(1.07);
}

.counter {
    font-family: moret, serif;
    font-size: 1.5rem;
    width: 3rem;
    font-weight: bold;
}

.fadeIn4 {
    animation: fade4 2s forwards;
    animation-delay: 4.5s;
    opacity: 0;
    transition: opacity 0.3s;
}

@keyframes fade4 {
    to {
        opacity: 1;
    }
}

/* cart */
.product_price_box_cart {
    display: flex;
    justify-content: start;
    padding: 0 7px;
}

.swiper {
    width: 100%;
    height: 60%;
}

.swiper-slide {
    background-color: #e2d9c7;
    width: 14vw;
    height: 88%;
    border-radius: 10px !important;
}

.slider__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide-active {
    transform: scale(1.1) !important;
    transition: 0.3s;
}

.remove_btn {
    position: absolute;
    background: transparent;
    border: none;
    top: 0;
    right: 0;
    opacity: 0.5;
}

.remove_btn:hover {
    opacity: 1;
}

.qtn_counter {
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: auto;
    left: 0;
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    opacity: 0.5;
}

.qtn_counter:hover {
    opacity: 1;
}

.plus,
.minus:hover {
    cursor: pointer;
}

.qtn {
    border: 0.5px solid black;
    padding: 5px 10px;
}

.cart_total_container {
    width: 90%;
    height: auto;
    margin: auto;
    border: 0.5px solid black;
    border-radius: 5px;
}

.cart_total_price_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
}

.price_box {
    display: flex;
}

.checkout_btn {
    width: 90%;
    margin: 3vh 0;
    background: var(--color-gallery-link-bg);
    border: none;
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
}

.checkout_btn:hover {
    background-color: var(--color-gallery-link-bg-hover);
}

.empty-cart {
    /* height: 100%;
    width: 100%; */
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-cart>button {
    border: none;
    outline: none;
    padding: 10px 20px;

    background-color: #e08e4b !important;
}

.empty_cart_text {
    height: 95%;
    text-align: center;
    color: rgb(102, 88, 150);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  checkout -shital */
.checkout_modal {
    width: 40vw !important;
    height: 90vh;
    border: none !important;
    border-radius: 0 0 0 10px;
    background-color: rgb(240, 235, 228) !important;
}


@media screen and (min-width: 800px) and (max-width: 1300px) {
    .cart_container {
        width: 50vw !important;
    }
}

@media screen and (max-width: 800px) {
    .cart_container {
        width: 95vw !important;
    }
}

@media screen and (max-width: 600px) {

    .swiper-slide {
        width: 50vw;
    }

    .header_container {
        margin: 0;
    }

    .logo {
        width: 4rem;
        height: 4rem;
        margin: 2rem 1rem 2rem 0.5rem;
        border-radius: 50%;
        transition: 0.2s;
    }

    .logo img {
        height: 100%;
        width: 100%;
    }

    .brand_name {
        font-size: 2rem;
    }

    .cart {
        margin: 2rem 0 2rem 0;
        font-size: 22px;
    }

    .cart_icon {
        width: 40px;
        height: 40px;
        background-color: var(--color-gallery-link-bg);
        /* background-color: black; */
        border-radius: 50%;
        border: 1px solid transparent;
        padding: 10px;
        transition: all 0.2s;
    }

    .cart_icon img {
        margin-bottom: 18px;
        transition: .1s;
    }
}

@media screen and (max-width: 800px) {
    .swiper-slide {
        width: 40vw;
    }

    .checkout_modal {
        width: 100vw !important;
        height: 100vh !important;
    }
}

@media screen and (min-width: 801px) and (max-width: 1050px) {
    .swiper-slide {
        width: 30vw;
    }

    .checkout_modal {
        width: 70vw !important;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1300px) {
    .swiper-slide {
        width: 25vw;
    }

    .checkout_modal {
        width: 50vw !important;

    }
}