.social_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icon_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    background: var(--color-gallery-link-bg);
    cursor: pointer;
    border-radius: 10px;
}

.social_icon_box {
    margin: 0 1rem;
}

.social_icon_box:hover {
    background: var(--color-gallery-link-bg-hover);
}

.social_icon_box:nth-child(even) {
    margin-top: 20vh;
}