.social_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_icon_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13vw;
    height: 13vh;
    background: var(--color-gallery-link-bg);
    cursor: pointer;
    border-radius: 10px;
} 
  /* For screens 768px or smaller */
  @media (max-width: 768px) {
    .social_icon_box {
    width: 20vw;
    height: 13vh;
    }
}
.social_icon_box {
    margin: 0 1rem;
}

.social_icon_box:hover {
    background: var(--color-gallery-link-bg-hover);
}

.social_icon_box:nth-child(even) {
    margin-top: 20vh;
}