.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

/* shop */
.shop_container {
  width: 95%;
  margin: auto;
  min-height: 89%;
  border: none !important;
  border-radius: 10px 10px 0 0;
  background-color: rgb(238, 233, 225) !important;
}

.shop_product_container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

/* contact */
.contact_container {
  width: 103vw;
  height: auto;
  display: flex;
}

.contact_canvas {
  width: 50%;
  margin: auto;
  min-height: 60vh;
  border: none !important;
  border-radius: 10px 10px 0 0;
  background-color: rgb(238, 233, 225) !important;
}


/* landing */

.landing {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.__button {
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 1.5rem 3rem;
  margin: 0;
  position: relative;
  display: inline-block;
}

.__button::before,
.__button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-family: moret, serif;
  font-size: 2rem;
}

.button--janus {
  font-family: freight-display-pro, serif;
  font-weight: 900;
  width: 175px;
  height: 120px;
  color: #fff;
  background: transparent;
}

.button--janus::before {
  content: '';
  background: var(--color-gallery-link-bg);
  -webkit-clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
  clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
  transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), -webkit-clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), background 0.5s ease;
}

.button--janus:hover::before {
  background: var(--color-gallery-link-bg-hover);
  -webkit-clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
  clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
}

.button--janus::after {
  content: '';
  height: 86%;
  width: 97%;
  top: 5%;
  border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
  border: 1px solid #000;
  transform: rotate(-20deg);
  z-index: -1;
  transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
}

.button--janus:hover::after {
  transform: translate3d(0, -5px, 0);
}

.button--janus span {
  display: block;
  transition: all 0.3s ease;
}

.button--janus:hover span {
  top: 40%;
}

.love {
  font-style: italic;
}

.cap {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  opacity: 1;
}

.cap svg .draw {
  stroke-width: .5px;
  stroke-dasharray: 4800;
  stroke-dashoffset: 4800;
  animation: animate 3s forwards;
}

@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}

.fadeIn1 {
  animation: fade1 2s forwards;
  animation-delay: 3s;
  opacity: 0;
  transition: opacity 0.3s;
}

.fadeIn2 {
  animation: fade2 2s forwards;
  animation-delay: 3.5s;
  opacity: 0;
  transition: opacity 0.3s;
}

.fadeIn3 {
  animation: fade3 2s forwards;
  animation-delay: 4s;
  opacity: 0;
  transition: opacity 0.3s;
}

@keyframes fade1 {
  to {
    opacity: 1;
  }
}

@keyframes fade2 {
  to {
    opacity: 1;
  }
}

@keyframes fade3 {
  to {
    opacity: 1;
  }
}

.intro h1 {
  text-align: center;
  font-size: 7vw;
  font-family: moret, serif;
  font-weight: 800;
  /* font-style: italic; */
  align-self: center;
  /* transform: skew(-10deg, -10deg) !important; */
}



/* demo */
.page_container {
  display: flex;
  margin-right: 5vw;
}

.gallery__item {
  margin: 0 3vw;
  display: grid;
  grid-template-areas: '... ...'
    '... gallery-image'
    '... ...';
  grid-template-columns: 8rem 21vmax;
  grid-template-rows: 8rem 28vmax 3rem;
}

.gallery__item:nth-child(even) {
  padding-top: 8vh;
}

.gallery__item-img {
  grid-area: gallery-image;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transform-origin: 50% 100%;
}

.gallery__item-imginner {
  background-size: cover;
  /* background-position: 50% 0; */
  width: 100%;
  height: 100%;
}

.gallery__item-caption {
  grid-area: 1 / 1 / 4 / 3;
  display: grid;
  grid-template-areas: 'gallery-number gallery-title'
    'gallery-link ...'
    'gallery-link gallery-tags';
  grid-template-columns: 8rem auto;
  grid-template-rows: 8rem auto 3rem;

}

.gallery__item-number {
  grid-area: gallery-number;
  font-size: 6rem;
  font-size: clamp(2.5rem, 9vw, 6.5rem);
  justify-self: end;
  padding-right: 2rem;
  color: var(--color-gallery-number);
}

.gallery__item-title {
  grid-area: gallery-title;
  margin: 0;
  font-size: 4rem;
  font-size: clamp(2rem, 5vw, 4rem);
  color: var(--color-gallery-title);
}

.gallery__item-number,
.gallery__item-title,
.gallery__text {
  font-family: moret, serif;
  font-weight: 800;
  /* font-style: italic; */
  align-self: center;
  transform: skew(-10deg, -10deg);
}

.gallery__item-link {
  grid-area: gallery-link;
  align-self: end;
  font-size: 1.5rem;
  background: var(--color-gallery-link-bg);
  color: var(--color-gallery-link);
  text-decoration: underline;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gallery__item-link:focus,
.gallery__item-link:hover {
  background: var(--color-gallery-link-bg-hover);
  color: var(--color-gallery-link-hover);
  text-decoration: none;
}

.gallery__item-tags {
  grid-area: gallery-tags;
  justify-self: end;
  font-size: 1.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  cursor: pointer;
}


.skew {
  transform: skew(1deg, -4deg) !important;
}

.skew_md {
  transform: skew(1deg, -10deg) !important;
}

.gallery__item-imginner img {
  transition: all .5s;
}

.gallery__item-imginner img:hover {
  scale: 1.2;
}

.w-90 {
  width: 90%;
  margin: auto;
}

.w-70 {
  width: 70%;
  /* margin: auto; */
}

.w-30 {
  width: 30%;
  /* margin: auto; */
}

.cursor_hover:hover {
  cursor: pointer;
}

/* product details  */
.product_details_container {
  display: flex;
  width: 100%;
  height: 100%;
}

.caro {
  background-color: var(--color-bg) !important;
  border-radius: 10px;
}

.caro-details {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.quantity-control svg {
  width: 50px;
  height: 30px;
  color: white;
}

.quantity-control input {
  width: 30px;
  height: 25px;
  padding-left: 5px;
  background-color: rgba(245, 245, 220, 0);
  border: 1px solid #000;
  border-radius: 3px;
}

@media screen and (max-width: 1000px) {
  .product_details_container {
    flex-direction: column;
  }

  .caro-details {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}